fund=false
progress=true
# npm
# registry=${NPM_REGISTRY:-https://registry.npmjs.org/}
# //${NPM_REGISTRY_HOST:-registry.npmjs.org/}:_authToken=${NPM_TOKEN:-none}
# //${NPM_REGISTRY_HOST:-registry.npmjs.org/}:always-auth=${NPM_ALWAYS_AUTH:-false}
# levicape
@levicape:registry=${LEVICAPE_REGISTRY:-https://npm.pkg.github.com/}
@levicape:always-auth=${LEVICAPE_ALWAYS_AUTH:-false}
//${LEVICAPE_REGISTRY_HOST:-npm.pkg.github.com/}:_authToken=${LEVICAPE_TOKEN:-none}
//${LEVICAPE_REGISTRY_HOST:-npm.pkg.github.com/}:always-auth=${LEVICAPE_ALWAYS_AUTH:-false}